{{ define "main" }}
  {{- partial "intro.html" . -}}
  {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
  <div class="container px-6 mx-auto mt-6">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">My Projects</h2>
  </div>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range (where .Site.RegularPages.ByWeight "Type" $frontBundle) }}
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>
{{ end }}
